/* fonts */
@font-face {
  font-family: 'Alegreya Sans'; font-style: normal; font-weight: 300; font-display: swap;
  src: url('/vendor/fonts/alegreya-sans-v21-latin-ext_latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya Sans'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/vendor/fonts/alegreya-sans-v21-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya Sans'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('/vendor/fonts/alegreya-sans-v21-latin-ext_latin-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya Sans'; font-style: normal; font-weight: 900; font-display: swap;
  src: url('/vendor/fonts/alegreya-sans-v21-latin-ext_latin-900.woff2') format('woff2');
}

/* layout */
html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "Alegreya Sans", sans-serif; letter-spacing: 0; }
body { background-color: #CCC; color: #222; font-weight: 400; font-size: 1.2em; line-height: 1.3; }
#header { background-color: #222; color: #CCC; text-shadow: .05em .05em #000; padding: 0 .5em; }
#content { padding: .5em; }

/* common */
a:link, a:visited { color: #222; }
a:hover { text-decoration: none; }
a strong { font-weight: 900; }

/* grid */
.pure-g { max-width: 40em; margin: auto; }
.item { text-align: right; }

@media screen and (max-width: 55em) {
	.pure-g { display: block; }
	.item { text-align: left; }
	.pure-g div { display: inline; }
}

/* header */
h1, h4 { margin: 0; }
h4 { font-weight: 300; letter-spacing: -0.03em; padding-top: 2em; position: relative; left: .9em; top: .5em; }
@media screen and (max-width: 55em) { h4 { padding-top: .5em; } }
h1 { font-size: 3em; font-weight: 900; line-height: .7em; }
h1 .handshake { font-size: .45em; position: relative; }

/* content */
.notice { font-style: italic; margin-bottom: 1em; }
.item::after { content: "–"; padding: 0 .5em; }
.category { font-weight: 900; margin-top: 1em; padding: 0px; }

/* transitions */
body, #header, a:link { transition: all 5s linear; }
